version: '3.1'

services:

  web:
    build:
      context: app/RecSys_web
      dockerfile: Dockerfile
    image: "rec_sys-web:1.0"
    container_name: RecSys-web
    env_file:
      - envfile.env
    ports:
      - "8501:8501"
    volumes:
      - "/home/RecSys/app/RecSys_web:/RecSys_web"
    restart: always
    depends_on:
      - db

  alg:
    build:
      context: app/RecSys_alg
      dockerfile: Dockerfile
    image: "rec_sys-alg:1.0"
    container_name: RecSys-alg
    env_file:
      - envfile.env
    ports:
      - "1729:5000"
    volumes:
      - "/home/RecSys/app/RecSys_alg:/RecSys_alg"
#    restart: always
    command: echo "RecSys_alg is ready"
    depends_on:
      - db

  ctl:
    build:
      context: app/RecSys_ctl
      dockerfile: Dockerfile
    image: "rec_sys-ctl:1.0"
    container_name: RecSys-ctl
    env_file:
      - envfile.env
    ports:
      - "5000:5000"
    volumes:
      - "/home/RecSys/app/RecSys_ctl:/RecSys_ctl"
    restart: always
    depends_on:
      - db

  db:
    image: "postgres:11-bullseye"
    restart: always
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_USER: hang
      POSTGRES_DB: recsys
      TZ: Asia/Shanghai
    container_name: RecSys-db
    ports:
      - "5432:5432"
#    volumes:
#      - ./data:/var/lib/postgresql/data