version: '2.6'

services:

  web:
    build:
      context: ./app/web
      dockerfile: Dockerfile
    image: "rec_sys-web:1.0"
    container_name: RecSys-web
    env_file:
      - envfile.env
    ports:
      - "8501:8501"
    volumes:
      - "/home/RecSys/app/web:/RecSys_web"
    restart: always
    depends_on:
      - db

  alg:
    build:
      context: ./app/alg
      dockerfile: Dockerfile
    image: "rec_sys-alg:1.0"
    container_name: RecSys-alg
    env_file:
      - envfile.env
    ports:
      - "1729:5000"
    volumes:
      - "/home/RecSys/app/alg:/RecSys_alg"
#    restart: always
    command: echo "alg is ready"
    depends_on:
      - db

  ctl:
    build:
      context: ./app/ctl
      dockerfile: Dockerfile
    image: "rec_sys-ctl:1.0"
    container_name: RecSys-ctl
    env_file:
      - envfile.env
    ports:
      - "5000:5000"
    volumes:
      - "/home/RecSys/app/ctl:/RecSys_ctl"
    restart: always
    depends_on:
      - db

  db:
    image: "postgres:15beta1-bullseye"
    restart: always
    env_file:
      - envfile.env
    container_name: RecSys-db
    ports:
      - "5432:5432"